<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingresar</title>
</head>
<body>
    {% extends 'base/principal.html' %}
    {% block content %}
        <div class="barra-superior">
            <h1>Ingresar</h1>
        </div>
        <div class="cuerpo-tarjeta">
            <form method="post">
                {% csrf_token %}
                <!-- con "form" automaticamente va a entender django que se trata de nuestra view llamada "Logueo" -->
                {{ form.as_p }}
                <input type="submit" value="Ingresar">
            </form>
            <p>No tienes una cuenta? <a href="{% url 'registro' %}">Registrate</a></p>
        </div>
    {% endblock content %}
</body>
</html>
