<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmación de Tarea Eliminada</title>
</head>
<body>
    {% extends 'base/principal.html' %}
    {% block content %}
        <a href="{% url 'tareas' %}">Volver</a>
        <form method="POST">
            {% csrf_token %}
            <p>Vas a eliminar esta tarea: "{{ tarea }}"</p>
            <input type="submit" value="Eliminar">
        </form>
    {% endblock content %}
</body>
</html>
