<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de Tareas</title>

</head>
<body>
    {% extends 'base/principal.html' %}
    {% block content %}
        <div class="barra-superior">
            <a href="{% url 'tareas' %}">&#x1F860;</a>
        </div>

        <div class="cuerpo-tarjeta">
            <form method="POST" action="">
                <!-- Prevenimos antes el csrf: problema de seguridad -->
                {% csrf_token %}
                {{ form.as_p }}
                <input class="boton" type="submit" value="Enviar">
            </form>
        </div>
    {% endblock content %}
</body>
</html>
